extends layout.pug

block content
  h1= message
  ul
    li
      a(href='/link-checker') Link Checker
    li
      a(href='/leaderboard') Leaderboard
    li
      a(href='/twitter-example') Twitter Example
