<!--
Copyright (c) Facebook, Inc. and its affiliates.

This source code is licensed under the MIT license found in the
LICENSE file in the root directory of this source tree.
-->

extends layout.pug

block header
  script(src='https://d3js.org/d3.v3.min.js')
  script
    include ../js/link-checker.js

block content
  section(class='input-section')
    div
      input(type='text' placeholder='Add Your Link' id='search_box' value=link)
      button(id='submit') go
  section(class='graph')
